src/hw_2/candies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="candies" type="candiesType"/>
  <xs:complexType name="candyType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Rafaello"/>
            <xs:enumeration value="Twix"/>
            <xs:enumeration value="Jack"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Cocos cream with almond nut"/>
            <xs:enumeration value="Cookies with caramel under the chocolate"/>
            <xs:enumeration value="Chocolate waffles"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="color">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="White"/>
            <xs:enumeration value="Brown"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="candiesType">
    <xs:sequence>
      <xs:element type="candyType" name="candy" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>